{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Result <span class="text-info">"{{ request.GET.keyword }}"</span></h3>
            <hr>
            {% for result in result %}
            <div class="row">
                <div class="col-md-4">
                    <img src="{{result.image.url}}" class="img-fluid" alt="">
                </div>
                <div class="col-md-8">
                    <h3><a href="{% url 'app1:productdetail' result.slug %}">{{result.title}}</a></h3>
                    <h4>Composition:{{result.composition}}</h4>
                    <h5>Expiry date:{{result.expiry_date}}</h5>
                    <p>{{ result.description|truncatewords:50 }}</p>
                    <a href="{% url 'app1:addtocart' result.id %}" class="btn btn-primary">Add To Cart</a>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}